/* MpiVolumeControl wrapper */
.mpi-volume-control {
    position: relative;
    display: inline-flex;
    align-items: center;
}


.mpi-volume-control__popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 12px 0;
}

/* Style for the slider container inside popup */
.mpi-volume-control__slider-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Force vertical slider using CSS rotation */
.mpi-volume-control__slider-wrapper .mpi-progress {
    transform: rotate(-90deg);
    width: 100px;
    /* slider length */
    height: 30px;
    margin-bottom: -142px;
}