<template id="tpl-help">
  <div class="tool-panel" id="tool-help">
    <div class="tool-header">
      <div class="tool-header-text">
        <h2 class="tool-title">Help</h2>
        <p class="tool-desc">Support and accessibility guide.</p>
      </div>
    </div>
    <div class="tool-body">
      <div class="about-shortcuts" style="max-width: 800px; margin: 0 auto; text-align: left;">
        <h3 class="shortcuts-title">Keyboard Shortcuts</h3>

        <div class="shortcuts-grid">
          <div class="shortcut-group">
            <h4>Global</h4>
            <ul>
              <li><span>Escape</span> <span>Close Popups</span></li>
              <li><span>Enter</span> <span>Comfirm Popups</span></li>
              <li><span>F11</span> <span>Toggle Full Screen</span></li>
              <li><span>F5</span> <span>Release VRAM</span></li>
              <li><span>Ctrl+F5</span> <span>Unload Models</span></li>
            </ul>
          </div>

          <div class="shortcut-group">
            <h4>Image Previewer</h4>
            <ul>
              <li><span>Enter</span> <span>Send to Detailer</span></li>
              <li><span>M</span> <span>Toggle Masking Mode</span></li>
              <li><span>Click</span> <span>Pan</span></li>
              <li><span>Wheel</span> <span>Zoom In/Out</span></li>
              <li><span>Double Click</span> <span>Reset View</span></li>
              <li><strong>MASK MODE</strong></li>
              <li><span>Wheel</span> <span>Brush Size</span></li>
              <li><span>B / E</span> <span>Brush / Eraser</span></li>
              <li><strong>- Holding Space</strong></li>
              <li><span>Click</span> <span>Pan</span></li>
              <li><span>Wheel</span> <span>Zoom</span></li>
              <li><span>Double Click</span> <span>Reset View</span></li>
            </ul>
          </div>

          <div class="shortcut-group">
            <h4>Prompt Boxes</h4>
            <ul>
              <li><span>Ctrl+Enter</span> <span>Submit Generate</span></li>
              <li><span>Ctrl+Enter</span> <span>Cancel Generation</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>